<!DOCTYPE html>
<html>
<head>
    <title>Film-net</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Film-net</h1>
    <div class="container">
        <!-- Formularz Użytkownika -->
        <form action="/addUser" method="post" class="form">
            <input type="text" name="username" placeholder="Nazwa Użytkownika">
            <input type="email" name="email" placeholder="Email">
            <button type="submit">Dodaj Użytkownika</button>
        </form>

        <!-- Formularz Filmu -->
        <form action="/addMovie" method="post" class="form">
            <input type="text" name="title" placeholder="Tytuł Filmu" required>
            <input type="number" name="year" placeholder="Rok Wydania" required>
            <input type="text" name="genre" placeholder="Gatunek" required>
            <button type="submit">Dodaj Film</button>
        </form>
        <!-- Formularz Oceny -->
        <form action="/addRating" method="post" class="form">
            <input type="text" name="username" placeholder="Nazwa Użytkownika">
            <input type="text" name="title" placeholder="Tytuł Filmu">
            <input type="number" name="rating" placeholder="Ocena">
            <button type="submit">Dodaj Oceny</button>
        </form>
    </div>

    <!-- films table -->
    <h2>Filmy</h2>
    <table>
        <tr>
            <th>Tytuł</th>
            <th>Rok Wydania</th>
            <th>Gatunek</th>
            <th>Akcje</th>
        </tr>
        <% films.forEach(function(film) { %>
            <tr>
                <td><%= film.properties.title %></td>
                <td><%= film.properties.year %></td>
                <td><%= film.properties.category %></td>
                <td>
                    <form action="/deleteMovie" method="post">
                        <input type="hidden" name="movieId" value="<%= film.id %>">
                        <button type="submit" class="delete">Usuń</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>

    <!-- user table -->
    <h2>Użytkownicy</h2>
    <table>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Akcje</th>
        </tr>
        <% users.forEach(function(user) { %>
            <tr>
                <td><%= user.properties.userName %></td>
                <td><%= user.properties.email %></td>
                <td>
                    <form action="/deleteUser" method="post">
                        <input type="hidden" name="userId" value="<%= user.id %>">
                        <button type="submit" class="delete">Usuń</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>

    <!-- rating table -->
    <h2>Oceny Użytkowników</h2>
    <table>
        <tr>
            <th>Nazwa Użytkownika</th>
            <th>Tytuł Filmu</th>
            <th>Ocena</th>
            <th>Akcje</th>
        </tr>
        <% userRatings.forEach(function(rating) { %>
            <tr>
                <td><%= rating.userName %></td>
                <td><%= rating.title %></td>
                <td><%= rating.rating %></td>
                <td>
                    <form action="/deleteRating" method="post">
                        <input type="hidden" name="ratingId" value="<%= rating.ratingId %>">
                        <button type="submit" class="delete">Usuń</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
